.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover svg {
  transform: scale(1.2);
}
